<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
 
<configuration>
 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
 
 <springProperty scope="context" name="logFileName" source="oauth2.logFileName" />
        
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- Daily roll over -->
      <fileNamePattern>${logFileName}_%d{yyyy-MM-dd}.log</fileNamePattern>
 
      <!-- Keep 1 day history -->
      <maxHistory>1</maxHistory>
    </rollingPolicy>
 
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
 
  <!-- Configure so that it outputs to both console and log file -->
  <root level="DEBUG">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>